@media (max-width: 1150px) {
    .work__step-img {
        &::before {
            content: none;
        }
    }

    .clients__review-img {
        width: 30%;
    }

    .clients__review-comment {
        width: 65%;
    }
}

@media (max-width: 1090px) {
    .main input {
        width: 230px;
    }

    .us__right {
        padding: 30px 50px 30px;
    }
}

@media (max-width: 990px) {
    .us__button {
        padding: 5px 33px;
    }

    .us__text {
        margin-bottom: 23px;
    }

    .us__title {
        margin-bottom: 15px;
    }

    .us__right {
        padding: 15px 30px 10px;
    }

    .price__cards {
        flex-direction: column;
    }

    .price__item+.price__item {
        margin-top: 25px;
    }

    .work__steps {
        flex-wrap: wrap;
    }

    .work__step {
        width: 40%;
        margin-bottom: 50px;
    }

    .work__step img {
        margin-bottom: 30px;
    }

    .work__button {
        margin-top: 30px;
    }

    .clients__review-img {
        width: 20%;
    }

    .clients__review-comment {
        width: 75%;
    }

    .newsletter__name input {
        width: 260px;
    }

    .newsletter__email input {
        width: 300px;
    }

    .newsletter button {
        padding: 0 20px;
    }

    .newsletter__adress-circle {
        left: 36%;
    }
}

@media (max-width: 950px) {
    .header__nav li {
        font-size: 13px;
        padding: 6px 10px;
    }

    .main input {
        width: 200px;
    }

    .main button {
        padding: 0 15px;
    }

    .work {
        padding: 50px 0;
    }

    .newsletter__adress-circle {
        left: 33%;
    }
}

@media (max-width: 802px) {
    .main button {
        margin-top: 15px;
    }

    .main img {
        top: 360px;
    }

    .main__title {
        font-size: 32px;
    }

    .main__description {
        font-size: 14px;
    }

    .service__item {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .service__item-text {
        width: 100%;
        padding: 0 100px;
    }

    .service__item-title {
        margin-bottom: 10px;
    }

    .service__img {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .service {
        padding: 140px 0 50px;
    }

    .work__text {
        margin-bottom: 50px;
    }

    .clients__review {
        width: 100%;
    }

    .clients {
        padding: 50px 0;
    }

    .newsletter__adress-circle {
        left: 31%;
    }
}


@media (max-width: 750px) {
    .header__inner {
        align-items: flex-start;
        position: relative;
    }

    .main img {
        top: 380px;
    }

    .header__nav {
        position: absolute;
        z-index: 10000;
        display: flex;
        transform: translate(300%, 0);
        flex-direction: column;
        transition: all 1s;
        width: 60%;
        background-color: rgb(235, 235, 235);
        border-radius: 3px;

        li {
            border-bottom: 1px solid rgb(204, 204, 204);
            padding: 10px;
        }

        &.active {
            transform: translate(50%, 0);
        }
    }

    .header__burger {
        display: block;
    }

    .us {
        flex-direction: column;
    }

    .us__img {
        width: 100%;
    }

    .us__right {
        width: 100%;
        padding: 50px 40px 50px;
        text-align: center;
    }

    .us__text {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .newsletter__email input {
        width: 240px;
    }

    .newsletter__name input {
        width: 200px;
    }

    .newsletter button {
        font-size: 12px;
    }

    .newsletter__adress-circle {
        left: 29%;
    }

    .footer-up__nav {
        justify-content: space-between;
    }

    .footer-up__item {
        margin-left: 10px;
    }
}

@media (max-width: 650px) {
    .main input {
        width: 170px;
    }

    .main img {
        top: 395px;
    }

    .main__title {
        font-size: 27px;
    }

    .main__description {
        font-size: 12px;
    }

    .service__item-text {
        padding: 0 70px;
    }

    .price {
        padding: 60px 0 60px;
    }

    .work__step {
        width: 100%;
    }

    .newsletter form {
        flex-wrap: wrap;
        align-items: center;
    }

    .newsletter__name {
        width: 80%;
        margin-bottom: 15px;
    }

    .newsletter__name input {
        width: 100%;
    }

    .newsletter__email {
        width: 80%;
        margin-bottom: 15px;
    }

    .newsletter__email input {
        width: 100%;
    }

    .newsletter button {
        width: 50%;
    }

    .newsletter__adress-circle {
        left: 26%;
    }
}

@media (max-width: 590px) {
    .footer-up__nav {
        display: none;
    }

    .footer-up {
        margin-top: 20px;
    }
}

@media (max-width: 550px) {
    .main {
        padding: 50px 0 290px;
    }

    .main img {
        top: 480px;
    }

    .main form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 240px;

        label {
            width: 90%;

            input {
                width: 100%;
            }
        }
    }

    .newsletter__adress-circle {
        left: 23%;
    }
}

@media (max-width: 480px) {
    .main__title {
        line-height: 35px;
    }

    .main {
        padding: 40px 0 210px;
    }

    .service__item-text {
        padding: 0 30px;
    }

    .us__right {
        padding: 40px 10px;
    }

    .price__item {
        width: 310px;
        padding: 30px 20px 30px;
    }

    .price__item.premium {
        padding: 30px 20px 30px;
    }

    .clients__review {
        flex-wrap: wrap;
    }

    .clients__review-img {
        width: 100%;

        img {
            margin: 0 auto 20px;
        }
    }

    .clients__review-comment {
        text-align: center;
        width: 100%;
    }

    .newsletter__adress-circle {
        left: 10%;
    }
}

@media (max-width: 360px) {
    .newsletter__adress-circle {
        left: 5%;
    }
}